@model SkillUpdateDto

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description"> Yetenek Güncelle </p>
            @using(Html.BeginForm("UpdateSkill","Skill",FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Id)
                <br />
                @Html.Label("Yetenek Adı")
                @Html.TextBoxFor(x => x.SkillName, new {@class ="form-control"})
                <span asp-validation-for="SkillName" class="text-danger"></span>
                <br />
                @Html.Label("Derece")
                @Html.TextBoxFor(x => x.Degree, new {@class ="form-control"})
                <span asp-validation-for="Degree" class="text-danger"></span>
                <br />
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            }
        </div>
    </div>
</div>
