@model List<AboutListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Inverse table</h4>
            <p class="card-description">
                Hakkımda
            </p>
            <div class="table-responsive">
                <table class="table table-gray">
                    <thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th> İsim </th>
                                <td> @item.Name </td>
                            </tr>
                            <tr>
                                <th> Açıklama </th>
                                <td>
                                    <textarea rows="4" cols="50">@item.Description</textarea>
                                </td>
                            </tr>

                            <tr>
                                <th> Doğum Tarihi </th>
                                <td> @item.Birthday </td>
                            </tr>
                            <tr>
                                <th> Mezuniyet </th>
                                <td> @item.Degree </td>
                            </tr>
                            <tr>
                                <th> Deneyim </th>
                                <td> @item.Experience </td>
                            </tr>
                            <tr>
                                <th> Telefon Numarası </th>
                                <td> @item.Phone </td>
                            </tr>
                            <tr>
                                <th> Mail </th>
                                <td> @item.Mail </td>
                            </tr>
                            <tr>
                                <th> Adres </th>
                                <td> @item.Address </td>
                            </tr>
                            <tr>
                                <th> Müsaitlik Durumu </th>
                                <td> @item.Freelance </td>
                            </tr>
                            <tr>
                                <th> Müşteri Sayısı </th>
                                <td> @item.Client </td>
                            </tr>
                            <tr>
                                <th> Biten Proje Sayısı </th>
                                <td> @item.Prroject </td>
                            </tr>
                        <td>
                            <a href="/About/UpdateAbout/@item.Id" class="btn btn-inverse-primary btn-fw">Güncelle</a>
                        </td>
                        }
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>
